/node_modules
/resources/css/style.css

/config/app.php
/config/db.php
/config/email.php

/storage/exchange/
/storage/feed/

docker-compose.yml
dockerfile
.dockerignore

package-lock.json
package.json