<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    RewriteCond %{REQUEST_URI} !^/public/
    RewriteCond %{REQUEST_URI} !^/resources/
    RewriteRule ^(.*)$ /public/$1 [L]

    ErrorDocument 401 /errors/401/
    ErrorDocument 402 /errors/402/
    ErrorDocument 403 /errors/403/
    ErrorDocument 404 /errors/404/
    ErrorDocument 429 /errors/429/
    ErrorDocument 500 /errors/500/
    ErrorDocument 503 /errors/503/
</IfModule>