<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    RewriteCond %{REQUEST_URI} !^/public/
    RewriteCond %{REQUEST_URI} !^/resources/
    RewriteRule ^(.*)$ /public/$1 [L]

    ErrorDocument 404 /errors/404/
    ErrorDocument 500 /errors/500/
</IfModule>